/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/*
Original Bootstrap's CSS depends on empty href attributes to style cursors for several components (pagination, tabs etc.).
But in AngularJS adding empty href attributes to link tags will cause unwanted route changes.
This is why we need to remove empty href attributes from directive templates and as a result styling is not applied correctly.
The remedy is simple, just add the following styling to the application:
*/ 
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* session radio selection */
.toggle-radio {               
    color: #fafafa;
	font-size: 80px;
	text-align:center;
}
.toggle-radio.wait-list {               
    color: #fafafa;
    font-size: 40px;
}
.toggle-radio {
    cursor: pointer;
}
.toggle-radio .wait-list-label {
	font-size: 10px;
	font-weight: bold;
	display:block;
	color: #ddd;
	
}
.toggle-radio.active, .toggle-radio.active .wait-list-label {                
    color: #5cb85c;    
}
.toggle-radio input[type="radio"] {
    display: none;
}
/* /session radio selection */

.thumbnail {
	color: #555;
}


/* session radio selection */
.btn span.glyphicon {
    opacity: 0;
}
.btn.active span.glyphicon {
    opacity: 1;
}
[data-toggle="buttons"] .btn input[type="radio"], [data-toggle="buttons"] .btn input[type="checkbox"] {
    display: none;
}
/* /session radio selection */